# FRONTEND
### Issue 1
A new user cannot register. /register endpoint always redirects to /login

steps to reproduce:
click `Get Started` button.