# FRONTEND
### Issue 1
A new user cannot register. /register endpoint always redirects to /login. /register endpoint is reserved for admins. There is no way for regular clients to register.

steps to reproduce:
click `Get Started` button.